* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-evenly;
}

img {
    /* height: 80%; */
    /* background-color: aliceblue; */
}