* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
}

#nav-bar * {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
#nav-bar *:hover {
    color: red;
}


img {
    height: 80%;
    /* background-color: aliceblue; */
}